<md-card>
  <md-card-header>
    <img md-card-avatar src="https://lh3.googleusercontent.com/-aOkelHrpiCc/AAAAAAAAAAI/AAAAAAAAAAA/APaXHhR1wVnJQyzaaQ8O9LJesCEkDXot5w/s96-c-mo/photo.jpg">
    <md-card-title>Header title</md-card-title>
    <md-card-subtitle>Header subtitle</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="https://lh3.googleusercontent.com/-aOkelHrpiCc/AAAAAAAAAAI/AAAAAAAAAAA/APaXHhR1wVnJQyzaaQ8O9LJesCEkDXot5w/s96-c-mo/photo.jpg">
  <md-card-actions>
    <button md-button>DELETE</button>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-header>
    <img md-card-avatar src="https://lh3.googleusercontent.com/-aOkelHrpiCc/AAAAAAAAAAI/AAAAAAAAAAA/APaXHhR1wVnJQyzaaQ8O9LJesCEkDXot5w/s96-c-mo/photo.jpg">
    <md-card-title>Header title</md-card-title>
    <md-card-subtitle>Header subtitle</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="https://lh3.googleusercontent.com/-aOkelHrpiCc/AAAAAAAAAAI/AAAAAAAAAAA/APaXHhR1wVnJQyzaaQ8O9LJesCEkDXot5w/s96-c-mo/photo.jpg">
  <md-card-actions>
    <button md-button>DELETE</button>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-header>
    <img md-card-avatar src="https://lh3.googleusercontent.com/-aOkelHrpiCc/AAAAAAAAAAI/AAAAAAAAAAA/APaXHhR1wVnJQyzaaQ8O9LJesCEkDXot5w/s96-c-mo/photo.jpg">
    <md-card-title>Header title</md-card-title>
    <md-card-subtitle>Header subtitle</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="https://lh3.googleusercontent.com/-aOkelHrpiCc/AAAAAAAAAAI/AAAAAAAAAAA/APaXHhR1wVnJQyzaaQ8O9LJesCEkDXot5w/s96-c-mo/photo.jpg">
  <md-card-actions>
    <button md-button>DELETE</button>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-header>
    <img md-card-avatar src="https://lh3.googleusercontent.com/-aOkelHrpiCc/AAAAAAAAAAI/AAAAAAAAAAA/APaXHhR1wVnJQyzaaQ8O9LJesCEkDXot5w/s96-c-mo/photo.jpg">
    <md-card-title>Header title</md-card-title>
    <md-card-subtitle>Header subtitle</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="https://lh3.googleusercontent.com/-aOkelHrpiCc/AAAAAAAAAAI/AAAAAAAAAAA/APaXHhR1wVnJQyzaaQ8O9LJesCEkDXot5w/s96-c-mo/photo.jpg">
  <md-card-actions>
    <button md-button>DELETE</button>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-header>
    <img md-card-avatar src="https://lh3.googleusercontent.com/-aOkelHrpiCc/AAAAAAAAAAI/AAAAAAAAAAA/APaXHhR1wVnJQyzaaQ8O9LJesCEkDXot5w/s96-c-mo/photo.jpg">
    <md-card-title>Header title</md-card-title>
    <md-card-subtitle>Header subtitle</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="https://lh3.googleusercontent.com/-aOkelHrpiCc/AAAAAAAAAAI/AAAAAAAAAAA/APaXHhR1wVnJQyzaaQ8O9LJesCEkDXot5w/s96-c-mo/photo.jpg">
  <md-card-actions>
    <button md-button>DELETE</button>
  </md-card-actions>
</md-card>



<md-card>
  <md-card-header>
    <img md-card-avatar src="https://lh3.googleusercontent.com/-aOkelHrpiCc/AAAAAAAAAAI/AAAAAAAAAAA/APaXHhR1wVnJQyzaaQ8O9LJesCEkDXot5w/s96-c-mo/photo.jpg">
    <md-card-title>Header title</md-card-title>
    <md-card-subtitle>Header subtitle</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="https://lh3.googleusercontent.com/-aOkelHrpiCc/AAAAAAAAAAI/AAAAAAAAAAA/APaXHhR1wVnJQyzaaQ8O9LJesCEkDXot5w/s96-c-mo/photo.jpg">
  <md-card-actions>
    <button md-button>DELETE</button>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-header>
    <img md-card-avatar src="https://lh3.googleusercontent.com/-aOkelHrpiCc/AAAAAAAAAAI/AAAAAAAAAAA/APaXHhR1wVnJQyzaaQ8O9LJesCEkDXot5w/s96-c-mo/photo.jpg">
    <md-card-title>Header title</md-card-title>
    <md-card-subtitle>Header subtitle</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="https://lh3.googleusercontent.com/-aOkelHrpiCc/AAAAAAAAAAI/AAAAAAAAAAA/APaXHhR1wVnJQyzaaQ8O9LJesCEkDXot5w/s96-c-mo/photo.jpg">
  <md-card-actions>
    <button md-button>DELETE</button>
  </md-card-actions>
</md-card>
<!--p>
  Home Works!
</p>
<button md-raised-button color="primary">PRIMARY</button>
<button md-raised-button color="accent">ACCENT</button>
<button md-raised-button color="warn">WARN</button>
<button md-icon-button>  
   <md-icon class="md-24" svgIcon="menu"></md-icon>
</button>
<button md-button>FLAT</button>
<button md-raised-button>RAISED</button>
<button md-icon-button>
   <md-icon class="md-24">favorite</md-icon>
</button>
<button md-fab>
   <md-icon class="md-24">add</md-icon>
</button>
<button md-mini-fab>
   <md-icon class="md-24">add</md-icon>
</button-->